In [3]:
import pandas as pd

Cleaning MATCH File

In [4]:
match=pd.read_csv("../data/raw/Match.csv")

In [5]:
match.columns.tolist()

['id',
 'country_id',
 'league_id',
 'season',
 'stage',
 'date',
 'match_api_id',
 'home_team_api_id',
 'away_team_api_id',
 'home_team_goal',
 'away_team_goal',
 'home_player_X1',
 'home_player_X2',
 'home_player_X3',
 'home_player_X4',
 'home_player_X5',
 'home_player_X6',
 'home_player_X7',
 'home_player_X8',
 'home_player_X9',
 'home_player_X10',
 'home_player_X11',
 'away_player_X1',
 'away_player_X2',
 'away_player_X3',
 'away_player_X4',
 'away_player_X5',
 'away_player_X6',
 'away_player_X7',
 'away_player_X8',
 'away_player_X9',
 'away_player_X10',
 'away_player_X11',
 'home_player_Y1',
 'home_player_Y2',
 'home_player_Y3',
 'home_player_Y4',
 'home_player_Y5',
 'home_player_Y6',
 'home_player_Y7',
 'home_player_Y8',
 'home_player_Y9',
 'home_player_Y10',
 'home_player_Y11',
 'away_player_Y1',
 'away_player_Y2',
 'away_player_Y3',
 'away_player_Y4',
 'away_player_Y5',
 'away_player_Y6',
 'away_player_Y7',
 'away_player_Y8',
 'away_player_Y9',
 'away_player_Y10',
 'away_player_Y11',
 'home_player_1',
 'home_player_2',
 'home_player_3',
 'home_player_4',
 'home_player_5',
 'home_player_6',
 'home_player_7',
 'home_player_8',
 'home_player_9',
 'home_player_10',
 'home_player_11',
 'away_player_1',
 'away_player_2',
 'away_player_3',
 'away_player_4',
 'away_player_5',
 'away_player_6',
 'away_player_7',
 'away_player_8',
 'away_player_9',
 'away_player_10',
 'away_player_11',
 'goal',
 'shoton',
 'shotoff',
 'foulcommit',
 'card',
 'cross',
 'corner',
 'possession',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'LBH',
 'LBD',
 'LBA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'SJH',
 'SJD',
 'SJA',
 'VCH',
 'VCD',
 'VCA',
 'GBH',
 'GBD',
 'GBA',
 'BSH',
 'BSD',
 'BSA']

In [6]:
pd.set_option("display.max_columns",None)
match.head(5)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [7]:
match.isna().sum()

id                0
country_id        0
league_id         0
season            0
stage             0
              ...
GBD           11817
GBA           11817
BSH           11818
BSD           11818
BSA           11818
Length: 115, dtype: int64

keeping only required columns

In [8]:
match=match[["id","date","season","stage","league_id","country_id","home_team_api_id","away_team_api_id","home_team_goal","away_team_goal"]]

In [9]:
match.isna().sum()

id                  0
date                0
season              0
stage               0
league_id           0
country_id          0
home_team_api_id    0
away_team_api_id    0
home_team_goal      0
away_team_goal      0
dtype: int64

In [10]:
match.dtypes

id                   int64
date                object
season              object
stage                int64
league_id            int64
country_id           int64
home_team_api_id     int64
away_team_api_id     int64
home_team_goal       int64
away_team_goal       int64
dtype: object

In [11]:
match.shape

(25979, 10)

In [12]:
match["date"]=pd.to_datetime(match["date"])

In [13]:
match.select_dtypes(include='object').head(5).describe()

           season
count           5
unique          1
top     2008/2009
freq            5

In [14]:
match.select_dtypes(include='number').describe()

,id,stage,league_id,country_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
count,25979.000000,25979.000000,25979.000000,25979.000000,25979.000000,25979.000000,25979.000000,25979.000000
mean,12990.000000,18.242773,11738.630317,11738.630317,9984.371993,9984.475115,1.544594,1.160938
std,7499.635658,10.407354,7553.936759,7553.936759,14087.453758,14087.445135,1.297158,1.142110
min,1.000000,1.000000,1.000000,1.000000,1601.000000,1601.000000,0.000000,0.000000
25%,6495.500000,9.000000,4769.000000,4769.000000,8475.000000,8475.000000,1.000000,0.000000
50%,12990.000000,18.000000,10257.000000,10257.000000,8697.000000,8697.000000,1.000000,1.000000
75%,19484.500000,27.000000,17642.000000,17642.000000,9925.000000,9925.000000,2.000000,2.000000
max,25979.000000,38.000000,24558.000000,24558.000000,274581.000000,274581.000000,10.000000,9.000000

In [15]:
match.columns

Index(['id', 'date', 'season', 'stage', 'league_id', 'country_id',
       'home_team_api_id', 'away_team_api_id', 'home_team_goal',
       'away_team_goal'],
      dtype='object')

cleaning player table

In [16]:
players=pd.read_csv("../data/raw/Player.csv")

In [17]:
players.isna().sum()

id                    0
player_api_id         0
player_name           0
player_fifa_api_id    0
birthday              0
height                0
weight                0
dtype: int64

In [18]:
players.dtypes

id                      int64
player_api_id           int64
player_name            object
player_fifa_api_id      int64
birthday               object
height                float64
weight                  int64
dtype: object

In [19]:
players.shape

(11060, 7)

In [20]:
players["player_name"]=players["player_name"].str.strip().str.title()

In [21]:
players["birthday"]=pd.to_datetime(players["birthday"])

In [22]:
players.duplicated().sum()

np.int64(0)

In [23]:
players.columns

Index(['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday',
       'height', 'weight'],
      dtype='object')

cleaning player attributes file

In [24]:
players_att=pd.read_csv("../data/raw/Player_Attributes.csv")

keeping only required columns

In [25]:
players_att=players_att[["player_api_id","player_fifa_api_id","date","overall_rating","potential","stamina","strength","jumping",
"balance","acceleration","sprint_speed","agility","reactions","interceptions","aggression","positioning"]]

In [26]:
players_att.shape

(183978, 16)

In [27]:
players_att.head(5)

,player_api_id,player_fifa_api_id,date,overall_rating,potential,stamina,strength,jumping,balance,acceleration,sprint_speed,agility,reactions,interceptions,aggression,positioning
0,505942,218353,2016-02-18 00:00:00,67.0,71.0,54.0,76.0,58.0,65.0,60.0,64.0,59.0,47.0,70.0,71.0,45.0
1,505942,218353,2015-11-19 00:00:00,67.0,71.0,54.0,76.0,58.0,65.0,60.0,64.0,59.0,47.0,70.0,71.0,45.0
2,505942,218353,2015-09-21 00:00:00,62.0,66.0,54.0,76.0,58.0,65.0,60.0,64.0,59.0,47.0,41.0,63.0,45.0
3,505942,218353,2015-03-20 00:00:00,61.0,65.0,54.0,76.0,58.0,65.0,60.0,64.0,59.0,46.0,40.0,62.0,44.0
4,505942,218353,2007-02-22 00:00:00,61.0,65.0,54.0,76.0,58.0,65.0,60.0,64.0,59.0,46.0,40.0,62.0,44.0

In [28]:
players_att.isna().sum()

player_api_id            0
player_fifa_api_id       0
date                     0
overall_rating         836
potential              836
stamina                836
strength               836
jumping               2713
balance               2713
acceleration           836
sprint_speed           836
agility               2713
reactions              836
interceptions          836
aggression             836
positioning            836
dtype: int64

In [29]:
players_att.columns

Index(['player_api_id', 'player_fifa_api_id', 'date', 'overall_rating',
       'potential', 'stamina', 'strength', 'jumping', 'balance',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'interceptions',
       'aggression', 'positioning'],
      dtype='object')

replacing null values with the median values for null numeric columns

In [30]:
columns=["overall_rating","stamina","potential",'strength', 'jumping', 'balance',
       'acceleration', 'sprint_speed', 'agility', 'reactions', 'interceptions',
       'aggression', 'positioning']
for col in columns:
    players_att[col].fillna(players_att[col].median(),inplace=True)

C:\Users\prodd\AppData\Local\Temp\ipykernel_29884\2676281039.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_att[col].fillna(players_att[col].median(),inplace=True)

In [31]:
players_att.isna().sum()

player_api_id         0
player_fifa_api_id    0
date                  0
overall_rating        0
potential             0
stamina               0
strength              0
jumping               0
balance               0
acceleration          0
sprint_speed          0
agility               0
reactions             0
interceptions         0
aggression            0
positioning           0
dtype: int64

In [32]:
players_att.dtypes

player_api_id           int64
player_fifa_api_id      int64
date                   object
overall_rating        float64
potential             float64
stamina               float64
strength              float64
jumping               float64
balance               float64
acceleration          float64
sprint_speed          float64
agility               float64
reactions             float64
interceptions         float64
aggression            float64
positioning           float64
dtype: object

In [33]:
players_att["date"]=pd.to_datetime(players_att["date"])

In [34]:
players_att["date"]

0        2016-02-18
1        2015-11-19
2        2015-09-21
3        2015-03-20
4        2007-02-22
            ...
183973   2009-08-30
183974   2009-02-22
183975   2008-08-30
183976   2007-08-30
183977   2007-02-22
Name: date, Length: 183978, dtype: datetime64[ns]

merging three tables

In [35]:
merged_df = pd.merge(
    left=players,
    right=players_att,
    how="inner",
    left_on="player_api_id",
    right_on="player_api_id"
)
merged_df
final_merged=pd.merge(merged_df,match,on="id")

In [36]:
final_merged.shape

(183978, 31)

In [37]:
final_merged[["date_x","date_y"]]

           date_x     date_y
0      2016-02-18 2008-08-17
1      2015-11-19 2008-08-17
2      2015-09-21 2008-08-17
3      2015-03-20 2008-08-17
4      2007-02-22 2008-08-17
...           ...        ...
183973 2009-08-30 2010-11-27
183974 2009-02-22 2010-11-27
183975 2008-08-30 2010-11-27
183976 2007-08-30 2010-11-27
183977 2007-02-22 2010-11-27

[183978 rows x 2 columns]

In [38]:
final_merged[["player_fifa_api_id_x","player_fifa_api_id_y"]].duplicated().sum()

np.int64(172909)

In [39]:
final_merged=final_merged.drop(columns="player_fifa_api_id_y")

In [40]:
final_merged=final_merged.rename(columns={"player_fifa_api_id_x":"player_fifa_api_id","date_x":"rating_date","date_y":"match_date"})

In [41]:
final_merged.dtypes

id                             int64
player_api_id                  int64
player_name                   object
player_fifa_api_id             int64
birthday              datetime64[ns]
height                       float64
weight                         int64
rating_date           datetime64[ns]
overall_rating               float64
potential                    float64
stamina                      float64
strength                     float64
jumping                      float64
balance                      float64
acceleration                 float64
sprint_speed                 float64
agility                      float64
reactions                    float64
interceptions                float64
aggression                   float64
positioning                  float64
match_date            datetime64[ns]
season                        object
stage                          int64
league_id                      int64
country_id                     int64
home_team_api_id               int64
away_team_api_id               int64
home_team_goal                 int64
away_team_goal                 int64
dtype: object

In [ ]:
#final_merged.to_csv("final_merged_file.csv",index=False)

In [ ]:
#players.to_csv("players_cleaned_file.csv",index=False)

In [ ]:
#match.to_csv("match_cleaned_file.csv",index=False)

In [ ]:
#players_att.to_csv("players_attributes_cleaned_file.csv",index=False)

description

In [ ]:
# id: Unique identifier for the player record (from player table)
# player_api_id: Internal ID linking player across tables (player, player_attributes, match)
# player_name: Players full name
# player_fifa_api_id: FIFA database ID for the player (external reference)
# birthday: Players date of birth (datetime64)  used to calculate age at match
# height: Players height in centimeters
# weight: Players weight in kilograms
# player_fifa_api_id_y: Duplicate FIFA ID from player_attributes table (can be dropped)
# rating_date: Date when player attributes (ratings) were recorded in player_attributes
# overall_rating: General performance rating (FIFA-style)
# potential: Expected maximum rating potential of the player
# stamina: Endurance level; key fatigue indicator
# strength: Physical power attribute
# jumping: Ability to jump; aerial performance
# balance: Stability and control attribute
# acceleration: Speed of reaching top pace
# sprint_speed: Maximum sprinting speed
# agility: Flexibility and quickness in movement
# reactions: Response time to events in the game
# interceptions: Defensive ability to intercept passes
# aggression: Players assertiveness and intensity
# positioning: Ability to position correctly during play
# match_date: Date of the match (from match table)
# season: Season identifier (e.g., "2012/2013")
# stage: Stage of the competition (league round or knockout stage)
# league_id: ID of the league in which the match was played
# country_id: ID of the country where the league is based
# home_team_api_id: ID of the home team
# away_team_api_id: ID of the away team
# home_team_goal: Number of goals scored by the home team
# away_team_goal: Number of goals scored by the away team