In [21]:
import pandas as pd

In [22]:
df=pd.read_csv("../data/processed/final_merged_file.csv")
df.head(5)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight,rating_date,overall_rating,potential,...,positioning,match_date,season,stage,league_id,country_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal
0,1,505942,Aaron Appindangoye,218353,1992-02-29,182.88,187,2016-02-18,67.0,71.0,...,45.0,2008-08-17,2008/2009,1,1,1,9987,9993,1,1
1,1,505942,Aaron Appindangoye,218353,1992-02-29,182.88,187,2015-11-19,67.0,71.0,...,45.0,2008-08-17,2008/2009,1,1,1,9987,9993,1,1
2,1,505942,Aaron Appindangoye,218353,1992-02-29,182.88,187,2015-09-21,62.0,66.0,...,45.0,2008-08-17,2008/2009,1,1,1,9987,9993,1,1
3,1,505942,Aaron Appindangoye,218353,1992-02-29,182.88,187,2015-03-20,61.0,65.0,...,44.0,2008-08-17,2008/2009,1,1,1,9987,9993,1,1
4,1,505942,Aaron Appindangoye,218353,1992-02-29,182.88,187,2007-02-22,61.0,65.0,...,44.0,2008-08-17,2008/2009,1,1,1,9987,9993,1,1

In [23]:
df.columns

Index(['id', 'player_api_id', 'player_name', 'player_fifa_api_id', 'birthday',
       'height', 'weight', 'rating_date', 'overall_rating', 'potential',
       'stamina', 'strength', 'jumping', 'balance', 'acceleration',
       'sprint_speed', 'agility', 'reactions', 'interceptions', 'aggression',
       'positioning', 'match_date', 'season', 'stage', 'league_id',
       'country_id', 'home_team_api_id', 'away_team_api_id', 'home_team_goal',
       'away_team_goal'],
      dtype='object')

In [24]:
df['match_date'] = pd.to_datetime(df['match_date'])

In [25]:
df['birthday'] = pd.to_datetime(df['birthday'])

In [26]:
#How many matches does each player play per season
df.groupby(["id","player_name","season"]).agg(match_play_season=("season","count")).reset_index()

          id          player_name     season  match_play_season
0          1   Aaron Appindangoye  2008/2009                  5
1          2      Aaron Cresswell  2008/2009                 33
2          3          Aaron Doran  2008/2009                 26
3          4        Aaron Galindo  2008/2009                 23
4          5         Aaron Hughes  2008/2009                 25
...      ...                  ...        ...                ...
11055  11071       Zoumana Camara  2010/2011                 13
11056  11072         Zsolt Laczko  2010/2011                 16
11057  11073            Zsolt Low  2010/2011                  7
11058  11074  Zurab Khizanishvili  2010/2011                  8
11059  11075   Zvjezdan Misimovic  2010/2011                 10

[11060 rows x 4 columns]

In [27]:
#- What is the average number of matches per month/week per player?
#matches per month
df["Match_month"]=df["match_date"].dt.month

In [28]:
match_per_month=df.groupby(["Match_month","player_name"]).agg(monthly_count=("id","count")).reset_index()

In [29]:
#avg number of match per month player palays
match_per_month.groupby("player_name").agg(avg_player_match_month=("monthly_count","mean")).reset_index().sort_values(by="avg_player_match_month",ascending=False)

                player_name  avg_player_match_month
396                    Alex                   104.0
2728                Douglas                    93.0
3212                 Felipe                    89.0
8707                Ricardo                    84.0
5311                  Josue                    77.0
...                     ...                     ...
6026            Liam Hughes                     2.0
5037           Jon Bautista                     2.0
5999             Levi Opdam                     2.0
90               Adam Brown                     2.0
21    Abdelfettah Boukhriss                     2.0

[10848 rows x 2 columns]

In [30]:
#per week
df["match_week"]=df["match_date"].dt.isocalendar().week

In [31]:
player_match_week=df.groupby(["match_week","player_name"]).agg(weekly_count=("id","count")).reset_index()
player_match_week.groupby("player_name").agg({"weekly_count":"mean"})

                     weekly_count
player_name
Aaron Appindangoye            5.0
Aaron Cresswell              33.0
Aaron Doran                  26.0
Aaron Galindo                23.0
Aaron Hughes                 25.0
...                           ...
Zoumana Camara               13.0
Zsolt Laczko                 16.0
Zsolt Low                     7.0
Zurab Khizanishvili           8.0
Zvjezdan Misimovic           10.0

[10848 rows x 1 columns]

In [32]:
#Which players have the highest total matches across all seasons?
df.groupby(["player_name","season"]).agg(total_match=("id","count")).reset_index().sort_values(by="total_match",ascending=False)

             player_name     season  total_match
2168              Danilo  2009/2010          108
396                 Alex  2009/2010          104
2728             Douglas  2010/2011           93
3212              Felipe  2012/2013           89
8707             Ricardo  2011/2012           84
...                  ...        ...          ...
1784  Christopher Nkunku  2008/2009            2
4901        Joao Martins  2008/2009            2
7065       Mattia Maggio  2014/2015            2
4045           Hans Vonk  2014/2015            2
90            Adam Brown  2008/2009            2

[10848 rows x 3 columns]

In [33]:
#- How does workload vary across leagues (league_id) and seasons?
df.groupby(["league_id", "season"]).agg(matches_played=("id", "count")).reset_index().sort_values(by="matches_played", ascending=False)

    league_id     season  matches_played
22       4769  2014/2015            6905
9        1729  2009/2010            6645
19       4769  2011/2012            6552
17       4769  2009/2010            6548
21       4769  2013/2014            6454
11       1729  2011/2012            6385
12       1729  2012/2013            6383
20       4769  2012/2013            6363
13       1729  2013/2014            6353
8        1729  2008/2009            6294
15       1729  2015/2016            6280
23       4769  2015/2016            6251
32      10257  2008/2009            6249
16       4769  2008/2009            6130
18       4769  2010/2011            6128
10       1729  2010/2011            6090
14       1729  2014/2015            6027
33      10257  2009/2010            5795
30       7809  2014/2015            5429
31       7809  2015/2016            5232
27       7809  2011/2012            5156
0           1  2008/2009            5126
24       7809  2008/2009            5069
29       7809  2013/2014            5065
25       7809  2009/2010            4946
28       7809  2012/2013            4882
26       7809  2010/2011            4706
2           1  2010/2011            4252
3           1  2011/2012            4090
7           1  2015/2016            3899
4           1  2012/2013            3824
6           1  2014/2015            3705
1           1  2009/2010            3668
34      10257  2010/2011             889
5           1  2013/2014             208

In [34]:
#Do players with higher match counts per season show lower stamina ratings?
df.groupby(["player_name","season"]).agg({"id":"count","stamina":"mean"}).reset_index().sort_values(by="id",ascending=False).head(10)

      player_name     season   id    stamina
2168       Danilo  2009/2010  108  68.518519
396          Alex  2009/2010  104  68.134615
2728      Douglas  2010/2011   93  68.150538
3212       Felipe  2012/2013   89  58.011236
8707      Ricardo  2011/2012   84  46.357143
5311        Josue  2009/2010   77  70.142857
8594      Rafinha  2011/2012   75  76.253333
3244     Fernando  2012/2013   75  78.826667
6351       Maicon  2012/2013   73  76.424658
9323  Scott Brown  2013/2014   71  67.535211

In [35]:
#- Players with very high workloads (80+ matches) often show stamina ratings in the 60–70 range, but some drop much lower (Ricardo, Rafael).
#- There’s variation: some players maintain high stamina (Fernando ~78.8, Maicon ~76.4) even with heavy workloads.
#It shows that while many high‑workload players hover around stamina ~65–75, some drop sharply, hinting at fatigue effects.

In [36]:
#- Is there a noticeable drop in stamina for players who consistently play more matches per month?
df.groupby("player_name").agg({"Match_month":"count","stamina":"mean"}).reset_index().sort_values(by="Match_month",ascending=False)

             player_name  Match_month    stamina
2168              Danilo          108  68.518519
396                 Alex          104  68.134615
2728             Douglas           93  68.150538
3212              Felipe           89  58.011236
8707             Ricardo           84  46.357143
...                  ...          ...        ...
1784  Christopher Nkunku            2  58.000000
4901        Joao Martins            2  59.000000
7065       Mattia Maggio            2  59.000000
4045           Hans Vonk            2  75.000000
90            Adam Brown            2  53.000000

[10848 rows x 3 columns]

In [37]:
#- Does sprint speed decline for players with heavier workloads?
workload_attributes=df.groupby(["player_name","season"]).agg({"id":"count","sprint_speed":"mean"}).reset_index().sort_values(by="id",ascending=False).head(10)
workload_attributes

      player_name     season   id  sprint_speed
2168       Danilo  2009/2010  108     68.990741
396          Alex  2009/2010  104     71.259615
2728      Douglas  2010/2011   93     67.408602
3212       Felipe  2012/2013   89     61.494382
8707      Ricardo  2011/2012   84     45.654762
5311        Josue  2009/2010   77     69.987013
8594      Rafinha  2011/2012   75     75.440000
3244     Fernando  2012/2013   75     66.200000
6351       Maicon  2012/2013   73     73.876712
9323  Scott Brown  2013/2014   71     69.239437

In [38]:
#- Some high‑workload players (Ricardo, Felipe, Rafael) show much lower sprint speed.
# Others (Rafinha, Maicon, Marcelo) maintain strong sprint speed despite heavy workloads.

In [39]:
correlations = workload_attributes[["id","sprint_speed"]].corr()
print(correlations)

                    id  sprint_speed
id            1.000000     -0.084483
sprint_speed -0.084483      1.000000

In [40]:
#correlation result shows a weak negative relationship between workload and sprint speed. It hints at fatigue effects but isn’t strong enough to prove
# average sprint speed rating decreases as match workload increases

In [41]:
df["age"]=(df["match_date"]-df["birthday"]).dt.days // 365

In [42]:
df["age"].unique()

array([16, 18, 17, 26, 28, 22, 12, 21, 15, 27, 19, 29, 32, 23, 30, 14, 25,
       20, 24, 13, 11, 31, 35,  9, 41, 33, 34, 36, 37, 38, 40, 39, 43, 42,
       44, 10])

In [43]:
#- Do younger players maintain stamina better than older players under similar workloads?

workload_stamina=df.groupby(["player_name","season","age"]).agg({"id":"count","stamina":"mean"}).reset_index().sort_values(by="stamina",ascending=False)

In [44]:
workload_stamina["age-segment"]=workload_stamina["age"].apply(lambda X: 'younger'if X <25 else 'older')

In [45]:
workload_stamina.groupby(["id","age-segment"]).agg({"stamina":"mean"}).reset_index().sort_values(by="stamina",ascending=False).head(10)

     id age-segment    stamina
84   44       older  83.098485
90   47       older  80.255319
85   44     younger  79.170455
100  54       older  77.287037
75   39     younger  77.164404
102  56     younger  76.848214
74   39       older  76.043741
99   53     younger  75.613208
83   43     younger  75.411960
86   45       older  75.257778

In [46]:
#- There isn’t a dramatic difference between younger and older players in this slice of data.
# Younger players slightly edge out older ones at the top end (83.9 vs 83.1), but overall the ranges overlap heavily.
#shows that both younger and older players can maintain high stamina under workload, with only a small advantage for younger players

In [47]:
#How many unique teams and players exist in the dataset?
df["player_api_id"].nunique()

11060

In [48]:
#matches played per team per season?
home_match=df.groupby(["home_team_api_id","season"]).agg(count=("id","count")).reset_index().rename(columns={"home_team_api_id":"team_id"})
away_match=df.groupby(["away_team_api_id","season"]).agg(count=("id","count")).reset_index().rename(columns={"away_team_api_id":"team_id"})

In [49]:
home_match

     team_id     season  count
0       1773  2011/2012    258
1       1773  2012/2013    191
2       1773  2015/2016    242
3       4049  2008/2009    265
4       4087  2011/2012    348
..       ...        ...    ...
636    10269  2014/2015    340
637    10269  2015/2016    327
638   108893  2010/2011    301
639   274581  2014/2015    299
640   274581  2015/2016    332

[641 rows x 3 columns]

In [50]:
t=pd.concat([home_match,away_match]).groupby(["season","team_id"]).agg({"count":"sum"}).reset_index()
t.groupby(["season","team_id"]).agg({"count":"mean"}).reset_index()

        season  team_id  count
0    2008/2009     4049  521.0
1    2008/2009     7819  566.0
2    2008/2009     7947  664.0
3    2008/2009     8177  514.0
4    2008/2009     8178  559.0
..         ...      ...    ...
636  2015/2016    10252  640.0
637  2015/2016    10260  636.0
638  2015/2016    10261  605.0
639  2015/2016    10269  623.0
640  2015/2016   274581  545.0

[641 rows x 3 columns]

In [51]:
#Are there seasons with incomplete match data?
df["season"].value_counts()

season
2008/2009    28868
2009/2010    27602
2011/2012    22183
2014/2015    22066
2010/2011    22065
2015/2016    21662
2012/2013    21452
2013/2014    18080
Name: count, dtype: int64

In [53]:
# 1. How does a player's overall_rating change across different seasons?
df.groupby("season").agg({"overall_rating":"mean"}).reset_index().sort_values(by="overall_rating",ascending=False)

      season  overall_rating
2  2010/2011       68.787220
3  2011/2012       68.693955
6  2014/2015       68.674522
4  2012/2013       68.660451
1  2009/2010       68.596660
7  2015/2016       68.539424
0  2008/2009       68.455383
5  2013/2014       68.420796

In [54]:
# 2. Does stamina correlate with overall_rating?
df["stamina"].corr(df["overall_rating"])
df[["stamina","overall_rating"]].corr()
#is 0.327 which means there is an weak linear corelation one increses other increases
#the player stamina increses the overall_rating of the players increses(perfromance increases)

                 stamina  overall_rating
stamina         1.000000        0.327475
overall_rating  0.327475        1.000000

In [55]:
df["overall_rating"].dtype

dtype('float64')

In [56]:
df.groupby("player_api_id").agg({"sprint_speed":"mean","overall_rating":"mean"}).reset_index().sort_values(by=["overall_rating","sprint_speed"],ascending=False)

      player_api_id  sprint_speed  overall_rating
2038          30981     90.846154       92.192308
1979          30893     93.760000       91.280000
2006          30924     89.666667       88.458333
2021          30955     76.800000       88.320000
2793          35724     80.000000       88.285714
...             ...           ...             ...
6210         127141     48.000000       45.500000
5944         112561     61.600000       45.200000
5779         107416     51.000000       45.000000
7287         177471     54.250000       43.750000
4894          67396     26.750000       43.000000

[11060 rows x 3 columns]

In [57]:
# 3. Do players with higher acceleration or sprint_speed have higher overall_rating?yes
df.groupby("player_api_id").agg({"acceleration":"mean","overall_rating":"mean"}).reset_index().sort_values(by=["overall_rating","acceleration"],ascending=False)

      player_api_id  acceleration  overall_rating
2038          30981     95.307692       92.192308
1979          30893     91.640000       91.280000
2006          30924     91.916667       88.458333
2021          30955     79.960000       88.320000
2793          35724     76.285714       88.285714
...             ...           ...             ...
6210         127141     52.000000       45.500000
5944         112561     68.000000       45.200000
5779         107416     50.500000       45.000000
7287         177471     49.750000       43.750000
4894          67396     29.750000       43.000000

[11060 rows x 3 columns]

In [58]:

# 4. How does age (derived from birthday) affect overall_rating and potential?
df.groupby("age").agg({"overall_rating":"mean","potential":"mean"}).reset_index().sort_values(by=["overall_rating","potential"],ascending=False)
#Younger players = low rating, high potential
#Prime-age players (28–33) = highest ratings
#Older players = high rating but low potential

    age  overall_rating  potential
35   44       74.800000  79.800000
32   41       72.949367  76.512658
31   40       72.530233  76.762791
34   43       72.161765  75.411765
33   42       72.126984  75.730159
27   36       71.922111  74.070352
30   39       70.993007  74.375874
29   38       70.957276  73.799733
22   31       70.713915  72.664838
25   34       70.678174  72.719544
28   37       70.586273  73.063870
26   35       70.527851  72.951370
24   33       70.440274  72.539660
20   29       70.406316  72.754571
23   32       70.317587  72.357376
21   30       70.231534  72.349423
19   28       70.030356  72.645370
17   26       70.010691  73.500798
18   27       69.711059  72.768109
15   24       69.041035  73.495467
16   25       68.981540  72.917450
14   23       68.273021  73.202708
0     9       68.000000  84.000000
13   22       67.741646  73.409268
12   21       67.649974  74.004421
11   20       67.128051  74.169394
10   19       66.887042  74.362506
8    17       66.190491  74.987633
7    16       66.120458  75.414666
9    18       66.092580  74.351666
6    15       64.424557  74.857812
5    14       63.369628  74.673352
4    13       62.328937  74.751031
3    12       61.349091  74.881818
2    11       61.120805  76.362416
1    10       58.700000  78.633333

In [59]:
# 5. Is there a relationship between strength and defensive attributes like interceptions or aggression?
df[["strength","aggression","interceptions"]].corr()
#strength-aggression(strength increases and aggression increases)medium linear corelation and strength--interception(weak corelation)one increases amd other increases
#aggression-interceptions (0.66)strong linear corelation aggressionn increases interception increases
#strong players often play physically and aggressively
#- Aggressive defenders are the ones who win the ball more often.
# Strength helps, but it’s not the main factor in defensive actions.

               strength  aggression  interceptions
strength       1.000000    0.506898       0.342318
aggression     0.506898    1.000000       0.661581
interceptions  0.342318    0.661581       1.000000

In [60]:
# 6. Do players show performance decline (overall_rating drop) as the season progresses (stage increases)?
df.groupby("stage").agg({"overall_rating":"mean"}).reset_index().sort_values(by="overall_rating",ascending=False)
#Players do NOT show a clear performance decline as the season progresses.
# Average overall_rating stays almost constant across all stages.
# Any small differences are random noise, not fatigue effects
#Fatigue does not appear in overall_rating at the season level.

    stage  overall_rating
14     15       69.831748
34     35       69.607131
32     33       69.572893
35     36       69.325389
1       2       69.293228
6       7       69.145336
20     21       69.090082
22     23       69.089194
36     37       69.084361
12     13       68.992549
33     34       68.977515
26     27       68.963474
18     19       68.848603
10     11       68.794831
27     28       68.714854
13     14       68.695320
7       8       68.664744
31     32       68.648954
16     17       68.621881
17     18       68.548400
15     16       68.536959
11     12       68.526096
28     29       68.467696
2       3       68.421145
21     22       68.419854
5       6       68.394515
25     26       68.302938
0       1       68.290619
3       4       68.174872
29     30       68.171194
24     25       68.167482
4       5       67.998996
37     38       67.908031
8       9       67.891564
9      10       67.878352
23     24       67.877731
30     31       67.716694
19     20       67.676089

In [61]:
# 7. Does match congestion (short gaps between match_date) lead to lower overall_rating?
df["match_date"].diff()

0           NaT
1        0 days
2        0 days
3        0 days
4        0 days
          ...
183973   0 days
183974   0 days
183975   0 days
183976   0 days
183977   0 days
Name: match_date, Length: 183978, dtype: timedelta64[ns]

In [62]:
# 10. Are certain leagues associated with higher average overall_rating?
df.groupby("league_id").agg({"overall_rating":"mean"})

           overall_rating
league_id
1               68.637425
1729            68.681333
4769            68.485068
7809            68.604125
10257           68.668754

In [63]:
# 9. How do home_team_goal and away_team_goal relate to average player ratings of each team?
df.groupby(["home_team_goal","away_team_goal"]).agg({"overall_rating":"mean"}).reset_index()

    home_team_goal  away_team_goal  overall_rating
0                0               0       68.383898
1                0               1       68.553075
2                0               2       68.209874
3                0               3       69.176819
4                0               4       69.205517
5                0               5       68.559322
6                0               6       65.546296
7                0               7       60.444444
8                0               9       76.117647
9                1               0       68.714788
10               1               1       68.548296
11               1               2       68.652429
12               1               3       69.178033
13               1               4       69.549972
14               1               5       68.235000
15               1               6       65.585938
16               1               7       68.894737
17               1               8       55.000000
18               2               0       68.529897
19               2               1       68.585999
20               2               2       68.493917
21               2               3       68.561031
22               2               4       68.539192
23               2               5       70.372263
24               2               6       69.703704
25               2               7       56.000000
26               3               0       68.443993
27               3               1       68.598941
28               3               2       68.513433
29               3               3       68.424617
30               3               4       69.568345
31               3               5       68.056338
32               3               6       70.260870
33               4               0       68.762731
34               4               1       68.598551
35               4               2       68.404397
36               4               3       69.464348
37               4               4       69.393162
38               4               5       71.553191
39               5               0       68.232079
40               5               1       67.793133
41               5               2       71.110070
42               5               3       67.461538
43               5               4       67.461538
44               5               5       69.678571
45               6               0       70.131980
46               6               1       71.876506
47               6               2       68.411523
48               6               3       69.125000
49               7               0       63.480392
50               7               1       67.642105
51               7               2       71.875000
52               7               3       63.714286
53               8               0       69.966667
54               8               2       64.227273
55               9               1       57.000000
56               9               2       74.346154

In [64]:
# 11. Do taller or heavier players have higher strength or jumping attributes?
df["height"].unique()

array([182.88, 170.18, 172.72, 165.1 , 190.5 , 175.26, 187.96, 177.8 ,
       185.42, 180.34, 200.66, 198.12, 193.04, 167.64, 195.58, 162.56,
       203.2 , 160.02, 157.48, 208.28])

In [65]:
df["height_segment"]=df["height"].apply(lambda x: "shorter" if x<170 else "taller")

In [66]:
df["weight_segment"]=df["weight"].apply(lambda x:"lighter" if x<170 else "heavier")

In [67]:
df["weight"].unique()

array([187, 146, 163, 198, 154, 161, 139, 181, 170, 150, 168, 143, 176,
       159, 185, 172, 165, 157, 179, 174, 212, 218, 190, 148, 152, 141,
       132, 201, 183, 205, 194, 137, 203, 196, 126, 192, 134, 214, 130,
       209, 128, 207, 216, 123, 220, 225, 227, 117, 243, 121])

In [68]:
df.groupby("height_segment").agg({"strength":"mean","jumping":"mean"}).reset_index().sort_values(by=["strength","jumping"],ascending=False)

  height_segment   strength    jumping
1         taller  67.728336  67.002483
0        shorter  50.511672  65.944164

In [69]:
df.groupby("weight_segment").agg({"strength":"mean","jumping":"mean"}).reset_index().sort_values(by=["strength","jumping"],ascending=False)

  weight_segment   strength    jumping
0        heavier  73.067678  67.560523
1        lighter  62.139040  66.443080

In [70]:
#Taller players → much stronger, slightly better jumpers
# Heavier players → much stronger, slightly better jumpers
# Strength is strongly tied to body size (height & weight)
# Jumping ability is only weakly tied to body size
#big players dominate strength, but jumping depends on more than size.

In [71]:
# 12. Which attributes (agility, reactions, positioning, sprint_speed) most strongly predict overall_rating?
df.groupby(["agility","reactions","positioning","sprint_speed"]).agg({"overall_rating":"mean"}).reset_index().sort_values(by="overall_rating",ascending=False)

       agility  reactions  positioning  sprint_speed  overall_rating
81049     94.0       96.0         93.0          88.0            94.0
81050     94.0       96.0         93.0          91.0            94.0
81048     94.0       95.0         92.0          92.0            94.0
80830     92.0       92.0         90.0          90.0            94.0
72066     80.0       89.0         83.0          90.0            93.0
...        ...        ...          ...           ...             ...
28132     63.0       60.0         35.0          62.0            37.0
6301      47.0       40.0         39.0          28.0            36.0
49441     71.0       59.0         32.0          57.0            35.0
21830     60.0       35.0         29.0          47.0            35.0
35409     66.0       61.0         40.0          59.0            33.0

[81091 rows x 5 columns]

In [72]:
df["age_segment"]=df["age"].apply(lambda x:"younger" if x <=25 else "older")

In [73]:
# 13. Does potential decrease as players age?
df.groupby("age_segment").agg({"potential":"mean"}).sort_values(by="potential",ascending=False)

             potential
age_segment
younger      73.894997
older        72.861586

In [74]:
# 14. Do players with higher aggression contribute to more goals conceded or scored?
df.groupby("player_api_id").agg({"aggression":"sum","home_team_goal":"sum","away_team_goal": "mean"}).sort_values(by=["aggression","home_team_goal"],ascending=False)

               aggression  home_team_goal  away_team_goal
player_api_id
30453              4376.0              51             1.0
41890              4292.0              53             1.0
27483              4276.0             141             4.0
26472              4263.0              54             1.0
56916              4005.0             100             1.0
...                   ...             ...             ...
143923               44.0               2             2.0
32880                42.0               2             3.0
190604               38.0               4             0.0
258206               32.0               8             0.0
31031                22.0               4             1.0

[11060 rows x 3 columns]

In [75]:
df[["aggression", "home_team_goal", "away_team_goal"]].corr()

                aggression  home_team_goal  away_team_goal
aggression        1.000000        0.014545        0.006978
home_team_goal    0.014545        1.000000       -0.051992
away_team_goal    0.006978       -0.051992        1.000000